
@model IEnumerable<WebApplication2.Kategori>

@{ 

    Layout = null;

        }
<div class="widget categories">
    <h5>Kategoriler</h5>
    <ul>
        @foreach (var kat in Model)
        {
             <li><a href="/Kategori/Index/@kat.id">@kat.Adi &nbsp; (@kat.Makale.Count)</a></li>
           
        }
f
    </ul>
</div>

