@{ 

    Layout = null;

}

@model IEnumerable<WebApplication2.Etiket>

<div class="widget blog-tags">
    <h5>Etiketler</h5>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/Etiket/İndex/@item.id" class="btn btn-default">@item.Adi (@item.Makale.Count)</a></li>
        }
    </ul>
</div>
